@page
@model WebApp.Pages.SamplePages.AlbumsByGenreQueryModel
@{
    ViewData["Title"]="Albums by Genre";
}
<h1>Albums by Genre</h1>
<blockquote>
    This page is to demonstrate:<br/>
    <ul>
        <li>Use of select tag</li>
        <li>use of input/datalist tag</li>
        <li>table creation</li>
        <li>paging</li>
    </ul>
</blockquote>

@if(Model.HasFeedBack)
{
    <p>@Model.FeedBack</p>
}

@if(Model.HasErrorMsg)
{
    <p style="color:firebrick; font-weight:bold">@Model.ErrorMsg</p>
}

<form method="post">
    <label>
        Select genre for albums
        <select asp-for="GenreId">
            <option value="0">select genre ...</option>
            @foreach(var item in Model.GenreList)
            {
                <option value="@item.ValueId">@item.DisplayText</option>
            }
        </select>
    </label>
    <button type="submit" >Find Albums</button>
</form>